/* CSS Document */
html, body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, form,input,img { margin:0; padding:0;}
li{ list-style:none;}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
}
a{color:#333;text-decoration:none;}
a:hover{color:#f40; text-decoration:underline;}
body{ font-size:15px;font-family: Tahoma;background: rgba(2,2,3,0.06)}
.clearfix:after{ content:""; display:block; clear:both;}
.circlestyle{
    border-radius: 5px;

}
.backcolor{
    background: white;
}

main .business{
    width: 980px;
    height: 130px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;

    margin-bottom: 30px;
    margin: 0px auto;

}

main .business .business-picture{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}
main .business .business-picture img{

}
main .business .nickname{
    display: block;
    font-family: "Arial Black";
    font-size: 20px;
    line-height: 50px;

    margin-top: 10px;

}
main .topstory{
    border-left: #cccccc solid 1px;
    border-right: #cccccc solid 1px;
}
main .topstory .category{
    width:670px;
    height: 36px;

    margin-top:10px;
    margin-bottom: 15px;
    display: inline-block;
}
main .topstory .category li{
    display: inline-block;
    float: left;

    display: inline-block;
}
main .topstory .category li a{
    width:105px;
    height:30px;
    font-size:16px;
    color:#000;
    display: inline-block;
    text-align:center;

    line-height: 30px;
}
main .topstory .category li a:hover{
    color: #237332;
    border-bottom: #237332 solid 5px;
    text-decoration: none;
}
main .topstory .user-static{
    width:270px;
    height: 150px;
    display: inline-block;
    float: right;


    padding: 0px 10px;


}
main .topstory .user-static p{
    line-height: 30px;
}
main .topstory .user-static .borderbottom{
    border-bottom: #237332 solid 2px;
}
main .topstory .user-attend{
    width:290px;
    height: 70px;
    display: inline-block;
    float: right;
    margin-top: 10px;



}

main .topstory .user-attend span{
    width: 290px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    border-bottom: #cccccc solid 2px;

}

.backcolor1{
    background: darkseagreen;
}
.backcolor{
    background: white;
}
.backcolor2{
    background: wheat;
}

/*CSS初始化结束*/
.Wrap{
    height: 52px;
    margin-bottom: 10px;
    border-bottom: #3e4a40 solid 2px;
    padding-top: 6px;
}
.Wrap h1{
    font-family: 幼圆;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    display: inline;
}
.Wrap ul{
    width: 250px;
    height: 35px;
    display: inline-block;
}
.Wrap ul li{
    height: 30px;
    font-size: 16px;
    padding: 0px 13.5px;
    display: inline-block;
    text-align: center;
}
.Wrap ul li a{
    margin: 0 auto;
}
.Wrap ul li a:hover{
    background:pink;  border-radius:4px;
    text-decoration:none;
}
header .header-inner{
    width: 1020px;
    height: 50px;
    margin: 0 auto;
}
.Wrap .header-inner .searchlable{
    width: 400px;
    height: 35px;
    display: inline-block;
    margin-left: 10px;
    padding-left: 100px;
}
.Wrap .searchlable input{
    width: 325px;
    height: 34px;
    margin: 0 auto;
    margin-left: 10px;
    border: #3e4a40 solid 1px;
    border-radius: 10px;
}

.Wrap .searchlable  button{
    width: 45px;
    height: 34px;
    border: #3e4a40 solid 1px;
    color: #237332;
    border-radius: 5px;
    box-shadow: -2px 2px 0px #cccccc;
}
header .header-inner .usericon{
    display: inline-block;
    margin-right: 10px;
    margin-top: 8px;
    float: right;
}
.topstory{
    width: 1020px;
    margin: 0px auto;
    height: 800px;
}
.topstory .regster-box{
    margin-top: 10px;
    height: 175px;
    padding: 0px 10px;
    width: 270px;
    float: right;
    margin-bottom: 10px;
}
.topstory .regster-box .textbox{
    text-align: left;
    margin-top: 10px;
    color: black;
}


.Wrap{
    height: 52px;
    margin-bottom: 10px;
    border-bottom: #3e4a40 solid 2px;
    padding-top: 6px;
}

.topstory{
    width: 1020px;
    margin: 0px auto;
    height: 800px;
}
.topstory .cards{
    width: 694px;
    /* height: 1000px;*/
    float: left;

}







.topstory .cards .card1{
    width: 650px;
    /*height: 186px;*/
    margin-bottom: 5px;
    padding: 10px;

    /* padding-top: 10px;*/
    margin-top: 5px;
}
.topstory .cards .card1 h2{
    font-size: 16px;
    /*margin-left: 20px;*/
    height: 25px;
    margin-top:7px ;
}
.topstory .cards .card1 .index-answer{
    overflow: auto;/**/
    padding: 3px;
}

.topstory .cards .card1 .index-answer .index-answer-introdu{
    width: 600px;

    height: 90px;
    float: left;
    /* padding-left: 20px;*/
    padding-right: 20px;
}
.topstory .cards .card1 .index-answer .index-answer-introdu p{
    font-size: 14px;
}
.topstory .cards .card1 .index-answer-foot{
    padding-left: 20px;
    margin-top: 20px;
}
.topstory .cards .card1 .index-answer-foot .buttonstyle{
    padding: 5px;
    margin-top: 5px;
    /* float: right;*/
}



.topstory .globalwrite{
}
.topstory .globalwrite .g-size{
    width: 94px;
    height:40px;
    display: inline-block;
    float: right;
}
.topstory .globalwrite .globalwrite-question{
    margin-right: 10px;
}
.topstory .globalwrite .globalwrite-reply{

}
.topstory .globalwrite .globalwrite-reply{
    width: 94px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.topstory .globalwrite .globalwrite-idea{
    margin-right: 10px;
}
.topstory .user-message{
    width:260px;
    height: 175px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    padding: 0px 20px;

}
.topstory .user-message .user-collect-ques{
    height: 40px;
    line-height: 40px;
    text-align: left ;
    float: right;
    margin-left: 20px;
    border-bottom:rgba(2,2,3,0.06)  solid 2px;
    width: 260px;

}
.topstory .user-message .user-attention-ques{
    height: 40px;
    line-height: 40px;
    text-align: left ;
    float: right;
    margin-left: 20px;
    border-bottom:rgba(2,2,3,0.06)  solid 2px;
    width: 260px;

}
.topstory .user-message .span-text{
    float: right;
}
.topstory .scenery-picture-lable{
    width: 300px;
    height: 400px;
    float: right;
    margin-top: 10px;


}
.topstory .scenery-picture-lable .scenery-picture {
    width: 300px;
    height: 400px;

}
.topstory .aboutus{
    width: 290px;
    height: 400px;
    display: inline-block;
    float: right;

    margin-top: 10px;
    line-height:30px;
    padding-left: 10px;

}
.pageNum {
    width: 650px;
    overflow: hidden;
    float: left;
}


.pageNum  li {
    width: 60px;
    height: 40px;
    float: right;
    border: 1px solid #eee;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    background: cadetblue;
}

.pageNum ul li a {
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 14px;
}