/* CSS Document */
html, body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, form,input,img { margin:0; padding:0;}
li{ list-style:none;}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
}
a{color:#333;text-decoration:none;}
a:hover{color:#f40; }
body{ font-size:15px;font-family: Tahoma;background: rgba(2,2,3,0.06)}
.clearfix:after{ content:""; display:block; clear:both;}
.buttonstyle{
    margin-right: 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}
.circlestyle{
    border-radius: 5px;
    /* box-shadow: -2px 2px 0px #cccccc;*/
}
.backcolor1{
    background: darkseagreen;
}
.backcolor{
    background: white;
}
.backcolor2{
    background: wheat;
}
.backcolor3{
    background: pink;

}
.backcolor4{
    background-color: #2F66DE
}
.backcolor5{
    background-color:  #ED4524;
}
.backcolor6{
    background-color: #D6C89C;
}
.backcolor7{
    background-color:#b1a6af
}
.backcolor8{
    background-color: #b19f9e;
}
.backcolor9{
    background: #ff4400;
}

/*CSS初始化结束*/
.topstory .globalwrite{
}
.topstory .globalwrite .g-size{
    width: 94px;
    height:40px;
    display: inline-block;
    float: right;
}
.topstory .globalwrite .globalwrite-question{
    margin-right: 10px;
}
.topstory .globalwrite .globalwrite-reply{

}
.topstory .globalwrite .globalwrite-reply{
    width: 94px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.topstory .globalwrite .globalwrite-idea{
    margin-right: 7px;
}
.topstory .user-message{
    width:260px;
    height: 175px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    padding: 0px 20px;
    background-color:#a16e83 ;

}
.topstory .user-message .user-collect-ques{
    height: 40px;
    line-height: 40px;
    text-align: left ;
    float: right;
    margin-left: 20px;
    border-bottom:rgba(2,2,3,0.06)  solid 2px;
    width: 260px;

}
.topstory .user-message .user-attention-ques{
    height: 40px;
    line-height: 40px;
    text-align: left ;
    float: right;
    margin-left: 20px;
    border-bottom:rgba(2,2,3,0.06)  solid 2px;
    width: 260px;

}
.topstory .user-message .span-text{
    float: right;
}
.topstory .scenery-picture-lable{
    width: 300px;
    height: 400px;
    float: right;
    margin-top: 10px;


}
.topstory .scenery-picture-lable .scenery-picture {
    width: 300px;
    height: 400px;

}
.topstory .aboutus{
    width: 290px;
    height: 400px;
    display: inline-block;
    float: right;

    margin-top: 10px;
    line-height:30px;
    padding-left: 10px;

}
.topstory .hotLabe{
    margin-bottom: 20px;
    padding: 5px 4px;
    width: 290px;
    background-color:#a16e83 ;
}
.topstory .hotLabe .place_lable{
    display: inline-block;
    margin: 3px;
    padding: 5px;
    float: left;
    background: #479761;
}
.topstory .hotLabe .msg{
    line-height: 30px;
    background-color: #cebc81;
    padding-left: 5px;

}
